{% extends "base.html" %}


{% block body %}
    <body onload = "random()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1><center>A South Park Themed Site of Randomness</center></h1>
                <h2><center>Creator: Kylie Scharf</center></h2>
            </div>
            <div class="col-6">
                <h2> <center>Random number of your visit: {{ random }}</center></h2>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This website has all you could ever want and is constantly changing. Click on one of the tabs in the navigation bar to explore the everchanging destinations offered. Have fun, but not too much! Also, if you decide you don't like the background or character at right, you can always refresh the page or refresh by clicking the button down below!</p>
            </div>
            <div class="col-6">
                <img id="img" src="" width="0" height="0">
            </div>
            <div class="col-3">
                <form action="/">
                    <input type="submit" value="Refresh!">
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

